.container {
  display: block;
  border: 1px solid gray;
  margin: 20px auto;
  padding: 10px 20px;
  width: 400px;
  height: 500px;
  border-radius: 6px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.5)
    ),
    url("../media/snow2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 350px;
}

.search-bar {
  margin-top: 10px;
  opacity: 0.7;
}

.search-icon {
  margin-right: 245px;
  margin-top: 10px;
  font-size: 20px;
  opacity: 0.9;
}

h1 {
  text-align: center;
  margin-top: -7px;
  opacity: 0.9;
  font-size: 75px;
  font-weight: 700;
}

.currentTemp {
  margin-left: 50px;
}

.units {
  position: relative;
  top: -32px;
  font-size: 25px;
  font-weight: 500;
}

ul {
  display: block;
  list-style: none;
  text-align: right;
  font-size: 18px;
  opacity: 0.9;
  line-height: 1.5;
  margin-top: 25px;
}

.temperatureData,
.precipitationData,
.windData {
  font-weight: 500;
}

.precipitation {
  margin-right: 5px;
}

.forecast-temp {
  text-align: right;
}

.city,
.weatherDescription {
  text-transform: uppercase;
  margin-top: -27px;
  text-align: right;
  font-weight: 500;
}

.tempIcon {
  width: 50px;
  margin-top: -50px;
  margin-left: 315px;
}

.date {
  margin-top: -40px;
  font-weight: 550;
}

.forecast {
  font-weight: 500;
}

.credit {
  position: relative;
  display: block;
  margin-top: -15px;
  margin-right: 175px;
  text-align: center;
  font-size: 13px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  transition: 150ms;
  color: gray;
  text-decoration: none;
}
